@model BG.ContratacionWeb.Pyme.Infrastructure.Mensaje

@{
    ViewBag.Title = "Notificacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-form-layout">
    <div class="wrapper wrp2">
        <div class="bg-card bg-form-layout-inner">
            <div class="bg-margin-top-medium">
                <h3>@Model.title</h3>
                <p class="bg-margin-top-small" style="text-align: justify">
                    @Model.paragraph
                </p>
                @if (Model.code != "401")
                {
                    <div class="bg-margin-top-medium bg-margin-bottom-medium" style="text-align: center;">
                        <a href="@Model.redirectTo">Volver</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@if (Model.code == "401")
{
    <script>
        setTimeout(function () {
            window.location.href = '@Model.redirectTo';
        }, 2500);
    </script>
}
